/* Cronometro */

body{
    width: 100%;
    height:100vh;
    margin:0;
    padding: 0;
    background:
        linear-gradient(
          to bottom,
          hsl(0, 2.44%, 8.04%) 0%,
          hsl(244.6, 4.49%, 8.55%) 7.8%,
          hsl(224.68, 17.22%, 9.89%) 14.5%,
          hsl(220.42, 29.74%, 11.56%) 20.3%,
          hsl(218.02, 40%, 13.38%) 25.4%,
          hsl(216.34, 48.2%, 15.27%) 30.1%,
          hsl(215.08, 54.83%, 17.19%) 34.6%,
          hsl(214.08, 60.3%, 19.12%) 39.1%,
          hsl(213.26, 64.91%, 21.04%) 43.7%,
          hsl(212.58, 68.87%, 22.95%) 48.8%,
          hsl(211.99, 72.36%, 24.85%) 54.5%,
          hsl(211.48, 75.49%, 26.73%) 61.1%,
          hsl(211.02, 78.35%, 28.58%) 68.7%,
          hsl(210.59, 81.02%, 30.4%) 77.6%,
          hsl(210.19, 83.59%, 32.19%) 87.9%,
          hsl(209.8, 86.13%, 33.92%) 100%
        );
      
}

.container{
    position: relative;
    height:100%;
    width:100%;
}

.cronometro{
    position:absolute;
    top:45%;
    left:45%;
    /* transform:translatex(277px) translatey(-11px); */
   }
   
   /* Timer */
   #timer{
    color:#a404bc;
    font-size:200px;
    transform:translatex(-154px) translatey(-74px);
    font-style:italic;
    text-transform:none;
    text-shadow:rgb(255, 255, 255) 0px 0px 2px, rgb(255, 255, 255) 0px 0px 4px, rgb(255, 255, 255) 0px 0px 6px, rgb(255, 119, 255) 0px 0px 8px, rgb(255, 0, 255) 0px 0px 12px, rgb(255, 0, 255) 0px 0px 16px, rgb(255, 0, 255) 0px 0px 20px, rgb(255, 0, 255) 0px 0px 24px;
    white-space:pre-line;
    letter-spacing:0.3px;
    word-spacing:-5px;
    column-count:1;
   }
   
   /* Reset button */
   .btn{
    background-color:#a127b3;
    background-size:auto;
    background-position-x:0%;
    color:#e6d9d9;
    background-clip:border-box;
    font-size:36px;
    font-family:Impact,Haettenschweiler,'Franklin Gothic Bold',Charcoal,'Helvetica Inserat','Bitstream Vera Sans Bold','Arial Black','sans serif';
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    transform:translatex(-105px) translatey(-46px);
    border:1px solid black;
   }


   .controls{
    margin: 0 auto;
   }